@using Signyourself2012.Models
@model Signyourself2012.Models.Campaign
@{
    ViewBag.Title = "Modify";
}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        $('#CampaignModify_Menu a').click(function(e) {
            e.preventDefault();
            var divToActivate = '#' + $(this).attr('href'); // Store its target
            $('.CampaingModify_Content:visible').hide(); // Hide any visible div with the class "content"
            $(divToActivate).show(); // Show the target div  

        });
    });
</script>
<section>
    <ul id="CampaignModify_Menu">
        <li>
            <ol>
                <li><a href="Rules">Rules</a></li>
                <li><a href="Details">Details</a></li>
                <li><a href="Goals">Goals</a></li>
                <li><a href="Rewards">Rewards</a></li>
                <li><a href="Description">Description</a></li>
                @*<li><a href="Members">Members</a></li>*@
                <li><a href="Account">Account</a></li>
                <li><a href="Submit">Submit</a></li>
            </ol>
        </li>
        <li><a href="Preview">Preview</a></li>
    </ul>
</section>
<section>
    <div id="Rules" class="CampaingModify_Content" style="display:block;">
        <h2 class="page-heading">
            <span>Rules and Regulations</span>
        </h2>
        <section class="MasterLeft-panel" >
        </section>
        <aside class="MasterRightSide-Panel">
        </aside>
    </div>
    <div id="Details" class="CampaingModify_Content">
        <h2 class="page-heading">
            <span>Campaign Details</span>
        </h2>
        <section class="MasterLeft-panel">
        @{Html.RenderPartial("_EditCampaign", Model);}
        </section>
        <aside class="MasterRightSide-Panel">
         @{Html.RenderPartial("_CampaignCard", Model);}
        </aside>
    </div>
    <div id="Goals" class="CampaingModify_Content">
        <h2 class="page-heading">
            <span>Campaign Goals</span>
        </h2>
        @{ var newgoal = new Goal();
           newgoal.CampaignID = Model.CampaignID;}
        <section class="MasterLeft-panel">@{Html.RenderPartial("_CreateGoal",newgoal);}</section>
        <aside id="allGoals" class="MasterRightSide-Panel">@{Html.RenderPartial("_CampaignGoals",Model.Goals);}</aside>
    </div>
    
    <div id="Rewards" class="CampaingModify_Content">
        <h2 class="page-heading">
            <span>Rewards</span>
        </h2>
      
    </div>

    <div id="Description" class="CampaingModify_Content">
        <h2 class="page-heading">
            <span>Description and Media</span>
        </h2>
        <section class="MasterLeft-panel">
         @{Html.RenderPartial("_CampaignDescription", Model);}
        </section>
        <aside>
         <aside class="MasterRightSide-Panel">
            <span>Helpful Information</span>
        </aside>
        </aside>
    </div>
  @*  <div id="Members" class="CampaingModify_Content">
        <h2 class="page-heading">
            <span>Other Members Involved</span>
        </h2>
        <div>
        </div>
        <aside>
        </aside>
    </div>*@
    <div id="Account" class="CampaingModify_Content">
        <h2 class="page-heading">
            <span>PayPal Account Information</span>
        </h2>
        <section class="MasterLeft-panel">
            @{Html.RenderPartial("_CampaignDescription", Model);}
        </section>
        <aside class="MasterRightSide-Panel">
        </aside>
    </div>
     <div id="Submit" class="CampaingModify_Content">
        <h2 class="page-heading">
            <span>Review and Submit</span>
        </h2>
        <div>
        </div>
    </div>
    <div id="Preview" class="CampaingModify_Content">
        <h2 class="page-heading">
            <span>Review and Submit</span>
        </h2>
        <div>
        @{Html.RenderAction("Details", "Campaigns");}
        </div>
    </div>
</section>