@model IEnumerable<Signyourself2012.Models.Campaign>

@{
    ViewBag.Title = "Browse Campaigns";
}

<h2>Browse Campaigns</h2>


@foreach (var item in Model) {
  Html.RenderPartial("_CampaignCard",item);
}
