@*@model Signyourself2012.Models.File*@

    <!-- slider -->
    <section class="project-slider">
        <div class="flexslider">
            
            <ul class="slides">
                <li>
                    <img src="~/Images/slides/01.jpg" alt="alt text" />
                </li>
            </ul>
        </div>
    </section>
    <!-- ENDS slider -->