@model IEnumerable<Signyourself2012.Models.Ref_CampaignUsers>
@{ 
   var Campaign_members = Model.Where(CM => CM.RelationshipTypeID == 1);
}
<h2 class="project-heading">
    @Campaign_members.Count() Members</h2>
<!-- thumbs -->
<div class="List-thumbs clearfix sm">
    @foreach (Signyourself2012.Models.Ref_CampaignUsers cu in Campaign_members)
    {
        <figure>
            Html.RenderPartial("_UserCard",cu.User);
        </figure>
    }
</div>
<!-- ends thmbs-->
