<section class="home-block">
    <h2 class="home-block-heading">
        <span>FEATURED CAMPAIGNS</span></h2>
    <div class="one-fourth-thumbs clearfix">
        @{ var db = new Signyourself2012.Models.SignYourselfEntities();
           var fCampaigns = from fc in db.Ref_FeaturedCampaigns
                             join c in db.Campaigns on fc.CampaignID equals c.CampaignID
                             select c;
           if (fCampaigns.Any())
           {
               foreach (Signyourself2012.Models.Campaign c in fCampaigns)
               { Html.RenderPartial("_CampaignCard", c);
               }
           }
        }
    </div>
    <div class="clearfix">
    </div>
</section>