@{
    ViewBag.Title = "Home Page";
}
<!-- MAIN -->
		<section id="main">	
			<div class="wrapper">
            @section featured {
				<!-- slider holder -->
               
				<section id="slider-holder" class="clearfix">
					
					<!-- slider -->
			        <div class="flexslider home-slider">
					  <ul class="slides">
					    <li>
					      <img src="~/Images/slides/01.jpg" alt="alt text" />
					    </li>
					    <li>
					      <img src="~/Images/slides/02.jpg" alt="alt text" />
					      <p class="flex-caption">Sample Caption.2</p>
					    </li>
					    <li>
					      <img src="~/Images/slides/03.jpg" alt="alt text" />
					    </li>
					  </ul>
					</div>
		        	<!-- ENDS slider -->
		        	
		        	<div class="home-slider-clearfix "></div>
		        	
		        	<!-- Headline -->
		        	<div id="headline">
		        		<h1>SignYourSelf</h1>
		        		<p>Signyourself.co is the latest and greates in INDIE support.</p>
		        		<p><a href="https://twitter.com/">Stay tuned!</a></p>
		        		<em id="corner"></em>
		        	</div>
		        	<!-- ENDS headline -->
		        	
		        	
				</section>
				<!-- ENDS slider holder -->
				}
				
				<!-- home-block -->
	        	 <div id="FeaturedCampaigns" >
                @{Html.RenderPartial("_FeaturedCampaigns"); }
            </div>
	        	<!-- ENDS home-block -->
	        	
	        	
	        	 <div id="FeaturedCampaigns" >
                @{Html.RenderPartial("_FeaturedUsers"); }
            </div>
      
			</div>
		</section>
		<!-- ENDS MAIN -->